lab3/IM/SearchIndex/_9r_1.del
lab3/IM/SearchIndex/_9s.cfs
lab3/IM/SearchIndex/segments_5a
lab3/IM/SPL/options
lab3/IM/SearchIndex/segments.gen
lab3/IM/SearchIndex/segments_58
lab5/
lab4/IM/SearchIndex/segments_2y
lab4/IM/SearchIndex/write.lock
lab4/System/~PEData.1
lab4/lab4.info

